
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(114, 88, 101, 0.881);
    display: flex;

}


#part1{
    height: 100%;
    width: 26%;
}

#part2{
    height: 100%;
    width: 67%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#part3{
    height: 100%;
    width: 7%;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(161, 145, 149, 0.5);
}
#text{
    width: 400px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
#text h1{
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 2px;
    font-family: 'Gilroy';
}


#right-img{
    background-color: red;
    width: 300px;
    height: 400px;
    position: absolute;
    top:50%;
    right: 5%;
    transform: translate(0%, -50%);
    background-image: url(https://images.unsplash.com/photo-1551024739-78e9d60c45ca?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#vertical-text{
    position:absolute;
    right: -18%;
    transform-origin: 0% 0%;
    transform: rotate(90deg);
    top:-14%
}

#vertical-text h1{
    font-weight: 900;
    font-size: 90px;
    font-family: 'Gilroy';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: transparent;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    left:8%;
    top:5%;
}

#nav img{
    height: 60px;
}
#nav h5{
    font-size: 20px;
    font-family: 'Gilroy';
    color: #fff;
}